<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hospital_Ultimate.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hospital_Ultimate.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hospital_Ultimate.MySettings>
            <setting name="URLvideo" serializeAs="String">
                <value />
            </setting>
            <setting name="ModeView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceFile" serializeAs="String">
                <value>https://www.youtube.com/watch?v=uFFgZws1sDk</value>
            </setting>
            <setting name="NameFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PermitirCambio" serializeAs="String">
                <value>False</value>
            </setting>
        </Hospital_Ultimate.MySettings>
    </userSettings>
    <applicationSettings>
        <Hospital_Ultimate.MySettings>
            <setting name="Banner" serializeAs="String">
                <value>Hospital Nuestra Señora del Carmen Cobán Alta Verapaz</value>
            </setting>
        </Hospital_Ultimate.MySettings>
    </applicationSettings>
</configuration>